<div id="nutrition_popup"
    class="fixed top-0 left-0 w-full h-full bg-[#000000b3] flex justify-center items-center z-50 hidden">
    <div class="w-full max-w-112.5 p-4 rounded-xl relative bg-white">
        <img id="nutrition_popup_close" loading="lazy"
            class=" absolute w-6 right-2 top-2 cursor-pointer transform rotate-45 rounded-full border border-solid border-[#d5416e]"
            src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Button_To_Expand.png?v=1752069152">
        <h2 class="text-center text-[28px] mb-4 leading-[1.4em] font-[lora] font-normal">Nutritional Information</h2>
        <img class="block w-full" src="//trysculptique.com/cdn/shop/files/ingredients-min.png?v=1758713223">
        <div class="block p-5 cursor-pointer my-4 bg-black text-center text-white rounded-lg">
            Try Lymphatic Drainage Risk-Free
        </div>
        <div class="flex flex-wrap gap-3 justify-center">

            <div class="flex items-center gap-1">
                <div class="w-4 flex">
                    <img class="w-full"
                        src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Mark_Icon_ce1ad4c9-5ec0-4162-969e-b565980ab82b.png?v=1752127285">
                </div>
                <div>
                    <p class="text-[12px] leading-[1.3em]">Made &amp; produced in the USA</p>
                </div>
            </div>

            <div class="flex items-center gap-1">
                <div class="w-4 flex">
                    <img class="w-full"
                        src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Mark_Icon_ce1ad4c9-5ec0-4162-969e-b565980ab82b.png?v=1752127285">
                </div>
                <div>
                    <p class="text-[12px] leading-[1.3em]">100% Natural Ingredients</p>
                </div>
            </div>

            <div class="flex items-center gap-1">
                <div class="w-4 flex">
                    <img class="w-full"
                        src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Mark_Icon_ce1ad4c9-5ec0-4162-969e-b565980ab82b.png?v=1752127285">
                </div>
                <div>
                    <p class="text-[12px] leading-[1.3em]">60-Day Money-Back Guarantee</p>
                </div>
            </div>

            <div class="flex items-center gap-1">
                <div class="w-4 flex">
                    <img class="w-full"
                        src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Mark_Icon_ce1ad4c9-5ec0-4162-969e-b565980ab82b.png?v=1752127285">
                </div>
                <div>
                    <p class="text-[12px] leading-[1.3em]">Free Shipping</p>
                </div>
            </div>

        </div>
    </div>
</div>