<section class="bg-[#f3eee0] py-8 lg:py-[56px] font-['Nunito',sans-serif]">
  <div class="mx-auto max-w-[1340px]  min-[750px]:px-12.5 px-3.75">
    <div class="flex flex-col md:flex-row items-center justify-center gap-8 md:gap-[64px]">
      
      <div class="w-full">
        <div class="product_textimage-content">
          <img loading="lazy" 
               class="hidden md:block max-w-[350px] w-full" 
               src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Trustpilot_review.png?v=1752480694" 
               alt="Trustpilot Desktop">
          <img loading="lazy" 
               class="block md:hidden max-w-[350px] w-full mx-auto" 
               src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Trustpilot_review_1.png?v=1752480694" 
               alt="Trustpilot Mobile">

          <h2 class="font-['Lora',serif] text-[24px] lg:text-[32px] leading-[1.3em] font-normal my-[16px] text-black lg:text-center text-left">
            Stop Masking Symptoms. Start Restoring Root Cause.
          </h2>

          <div class="text-[18px] leading-[1.3em] text-black space-y-[12px] lg:text-center text-left">
            <p>You deserve to feel like yourself again. To wake up without puffiness. To see your ankles. To look in the mirror and recognize the vibrant woman staring back. To have energy for the people you love.</p>
            <p>You deserve a solution that actually works. Not temporary relief. Not symptom masking. Complete lymphatic restoration.</p>
          </div>

          <img loading="lazy" 
               class="block md:hidden w-full my-6 rounded-[12px]" 
               src="//trysculptique.com/cdn/shop/files/before-min_png.png?v=1760688928" 
               alt="Transformation Mobile">

          <div class="mt-8 max-w-[495px] mx-auto md:mx-0">
           <a href="https://pay.trysculptique.com/lymphatic/checkout"
        class="inline-block w-full lg:w-auto p-4 lg:px-20 lg:py-4.5 bg-black text-white rounded-sm text-[16px] lg:text-[18px] leading-[1.3em] text-center no-underline transition-all duration-200 hover:opacity-80">
        Try Lymphatic Drainage Risk-Free
      </a>

            <p class="flex items-center justify-center gap-[16px] text-[16px] leading-[1.3em] mt-[16px]">
              <span>
                <img src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/60-days_11622780_1_1.png?v=1752388395" 
                     class="w-[24px]" alt="60-day guarantee">
              </span>
              <span>60-Day Money-Back Guarantee</span>
            </p>
          </div>
        </div>
      </div>

      <div class="hidden md:block w-full">
        <img loading="lazy" 
             class="w-full h-auto rounded-[12px] object-cover" 
             src="//trysculptique.com/cdn/shop/files/before-min_png.png?v=1760688928" 
             alt="Transformation Desktop">
      </div>

    </div>
  </div>
</section>