<div id="problem-solution_judge-outer" class="pt-8 lg:pt-14 mx-auto max-w-335! min-[750px]:px-12.5 px-3.75">
    <div class="max-w-200 m-auto">
        <h2 class=" text-[24px] lg:text-[32px] text-center leading-[1.3em] my-4 font-normal font-[Lora]">
            Why Your <span class="text-[#039869]">Bloating, Brain Fog &amp; Swollen Legs</span> Are Actually Connected
        </h2>
        <p class=" text-[16px] lg:text-[18px] my-4 leading-[1.3em] text-center">If you're experiencing more than one of these symptoms,
            your body is trying to tell you something:</p>
    </div>
    <div id="problem-solution_why-bloating" class="grid gap-2 lg:flex lg:gap-4 mt-10 mb-6 lg:mb-0">
        <div class="w-full rounded-md overflow-hidden flex lg:block">
            <div class="flex-1">
                <img class="min-h-37.5 w-full"
                    src="//trysculptique.com/cdn/shop/files/Untitled_design_3.png?v=1760689800">
            </div>
            <div class="flex-1 lg:mt-2.5 min-h-37.5 lg:p-4 lg:block text-center bg-[#f7f7f7] flex items-center justify-center p-0">
                <p class="leading-[1.3em] text-[16px]">Your stomach is flat in the morning, but by evening you look six
                    months pregnant.</p>
            </div>
        </div>
        <div class="w-full rounded-md overflow-hidden flex lg:block">
            <div class="flex-1">
                <img class="min-h-37.5 w-full"
                    src="//trysculptique.com/cdn/shop/files/Untitled_design_3_1.png?v=1760689799">
            </div>
            <div class="flex-1 lg:mt-2.5 min-h-37.5 lg:p-4 lg:block text-center bg-[#f7f7f7] flex items-center justify-center p-0">
                <p class="leading-[1.3em] text-[16px]">Your ankles disappear into "kankles" by the end of the day.</p>
            </div>
        </div>
        <div class="w-full rounded-md overflow-hidden flex lg:block">
            <div class="flex-1">
                <img class="min-h-37.5 w-full"
                    src="//trysculptique.com/cdn/shop/files/Untitled_design_4.png?v=1760689801">
            </div>
            <div class="flex-1 lg:mt-2.5 min-h-37.5 lg:p-4 lg:block text-center bg-[#f7f7f7] flex items-center justify-center p-0">
                <p class="leading-[1.3em] text-[16px]">That dimpled, cottage cheese texture on your thighs won't go away
                    no matter what you try.</p>
            </div>
        </div>
        <div class="w-full rounded-md overflow-hidden flex lg:block">
            <div class="flex-1">
                <img class="min-h-37.5 w-full"
                    src="//trysculptique.com/cdn/shop/files/Untitled_design_4_1.png?v=1760689799">
            </div>
            <div class="flex-1 lg:mt-2.5 min-h-37.5 lg:p-4 lg:block text-center bg-[#f7f7f7] flex items-center justify-center p-0">
                <p class="leading-[1.3em] text-[16px]">You feel foggy and exhausted even after a full night's sleep.</p>
            </div>
        </div>
        <div class="w-full rounded-md overflow-hidden flex lg:block">
            <div class="flex-1">
                <img class="min-h-37.5 w-full"
                    src="//trysculptique.com/cdn/shop/files/Untitled_design_3_2.png?v=1760689799">
            </div>
            <div class="flex-1 lg:mt-2.5 min-h-37.5 lg:p-4 lg:block text-center bg-[#f7f7f7] flex items-center justify-center p-0">
                <p class="leading-[1.3em] text-[16px]">You wake up stiff and achy, like your body aged overnight.</p>
            </div>
        </div>
    </div>
    <div class="w-full max-w-230 m-auto">
        <img class="desktop w-full" loading="lazy"
            src="//trysculptique.com/cdn/shop/files/Group_7207.png?v=1760690771">
        <img class="mobile w-full block min-[678px]:hidden" loading="lazy"
            src="//trysculptique.com/cdn/shop/files/Frame_1000003583.png?v=1760690769">
    </div>
    <img loading="lazy" class="block w-full max-w-8.5 lg:max-w-12 my-4 lg:my-6 mx-auto"
        src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Frame_1000003589.png?v=1760690549">
    <div class="max-w-200 m-auto">
        <h2 class="text-[24px] lg:text-[32px] leading-[1.3em] my-4 font-normal font-[Lora] text-center">
            The Connection <span class="text-[#039869]">You've Been Missing</span>
        </h2>
    </div>
    <div class="w-full max-w-230 m-auto">
        <img class="desktop w-full" loading="lazy"
            src="//trysculptique.com/cdn/shop/files/Frame_1000003590.png?v=1760690771">
        <img class="mobile w-full block min-[678px]:hidden" loading="lazy"
            src="//trysculptique.com/cdn/shop/files/Frame_1000003590_1.png?v=1760690770">
    </div>
    <img loading="lazy" class="block w-full max-w-8.5 lg:max-w-12 my-4 lg:my-6 mx-auto"
        src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Frame_1000003589.png?v=1760690549">
    <div class="max-w-200 m-auto mb-10">
        <h2 class="text-[24px] lg:text-[32px] leading-[1.3em] my-4 font-normal font-[Lora] text-center">
            Your <span class="text-[#039869]">Hidden</span> Drainage System
        </h2>
    </div>
    <div id="problem-solution_chart" class="flex flex-wrap lg:flex-nowrap flex-col-reverse lg:flex-row gap-4 lg:gap-25 items-center">
        <div class="w-full">
            <div>
                <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">Your lymphatic system is your body's internal cleaning
                    crew—a network of vessels that processes
                    <strong>3-4 liters of cellular waste and excess fluid every single day.</strong>
                </p>
                <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">When it's working properly, you don't even know it exists.
                </p>
                <ul class="text-[16px] lg:text-[18px] leading-[1.3em] my-2 pl-0 ml-0">
                    <li class="my-2 list-none pl-8 font-semibold text-[#0c7c00] font-[Nunito]
                    bg-[url('/src/assets/images/problem/check-mark.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">
                        Waste gets drained away
                    </li>
                    <li class="my-2 list-none pl-8 font-semibold text-[#0c7c00] font-[Nunito]
                    bg-[url('/src/assets/images/problem/check-mark.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">
                        Fluid stays balanced.
                    </li>
                    <li class="my-2 list-none pl-8 font-semibold text-[#0c7c00] font-[Nunito]
                    bg-[url('/src/assets/images/problem/check-mark.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">
                        Your body feels light and energized.
                    </li>
                </ul>
            </div>
            <div class="my-6 py-2 px-4 bg-[#ffe3e3] rounded-lg">
                <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">But after age 35, declining estrogen hijacks this system's
                    ability to function.</p>
            </div>
            <div>
                <ul class="text-[16px] lg:text-[18px] leading-[1.3em] my-2 pl-0 ml-0">
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">Vessel pumping weakens.</li>
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">One-way valves fail.</li>
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">Protein clogs form. </li>
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">Vessel walls become leaky.</li>
            </ul>
            <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">Instead of processing and removing waste, it backs up in your
                tissues.
            </p>
            </div>
        </div>
        <div class="w-full">   
            <img loading="lazy" class="desktop w-full lg:block" src="//trysculptique.com/cdn/shop/files/Frame_1484580366_1.png?v=1760701546">
            <img loading="lazy" class="mobile w-full block min-[678px]:hidden" src="//trysculptique.com/cdn/shop/files/Frame_1484580366_1.png?v=1760701546">
        </div>
    </div>
    <div id="problem-solution_accumulates" class="pb-0 pt-8 lg:py-14">
        <div class="flex flex-wrap lg:flex-nowrap flex-col-reverse lg:flex-row gap-4 lg:gap-25 items-center">
            <div class="w-full">
                <div>
                <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">
                    <strong>And it accumulates. Day after day. Week after week.</strong>
                </p>
                <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">That gallon of fluid your body should be draining every 24 hours? It's pooling in your stomach, your legs, your face—anywhere gravity and tissue structure allow it to settle.
                </p>
            </div>
            <div class="my-6 py-2 px-4 bg-[#ffe3e3] rounded-lg">
                <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">The metabolic waste your cells produce overnight? It's still sitting there at noon. At dinner. While you're trying to fall asleep.</p>
                <ul class="text-[16px] lg:text-[18px] leading-[1.3em] my-2 pl-0 ml-0">
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">That's why you're bloated.</li>
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">That's why your ankles swell.</li>
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">That's why you see cellulite.</li>
                <li class="my-2 list-none pl-8 font-semibold text-[#a60003] font-[Nunito]
                    bg-[url('/src/assets/images/problem/Vector_7.png')]
                    bg-no-repeat bg-size-[20px] bg-position-[0_0.25em] leading-[1.4]">That's why you feel exhausted and foggy.</li>
            </ul>
            </div>
            <div>
            <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">
                    <strong>Your cells are literally sitting in their own waste—and your body can't flush it out.</strong>
                </p>
                <p class="text-[16px] lg:text-[18px] leading-[1.3em] my-2">The longer this goes on, the worse it gets. More congestion. More inflammation. More pressure on an already compromised system.
                </p>
            </div>
            </div>
            <div class="w-full">
                <img loading="lazy" class="desktop w-full lg:block" src="//trysculptique.com/cdn/shop/files/ChatGPT_Image_Oct_10_2025_at_03_26_38_PM_2.png?v=1760702096">
                <img loading="lazy" class="mobile w-full block min-[678px]:hidden" src="//trysculptique.com/cdn/shop/files/ChatGPT_Image_Oct_10_2025_at_03_26_38_PM_2.png?v=1760702096">
            </div>
        </div>
    </div>
</div>