<div id="problem-solution_why-nothing" class="bg-[#f7f2e7]">
    <div class="max-w-335! min-[750px]:px-12.5 m-auto pb-17.5 mb-8.75 px-3.75">
        <div class="max-w-200 m-auto ">
            <h2 class="text-[24px] lg:text-[32px] leading-[1.3em] my-4 font-normal font-[Lora] text-center">
                Why Nothing Has <span class="text-[#039869]">Worked</span>
            </h2>
        </div>
        <div class="mt-10 grid gap-2 mb-6 lg:mb-0 lg:flex lg:gap-4">
            <div class="w-full rounded-md overflow-hidden">
                <div>
                    <img src="//trysculptique.com/cdn/shop/files/X1.jpg?v=1760943360">
                </div>
                <div class="bg-[#f7f7f7] p-4 lg:p-6 text-center">
                    <h4 class="text-[20px] font-[Trirong,serif] font-normal">You cut out gluten, dairy, sugar. You ate
                        clean for months.</h4>
                    <div class="bg-[#ffe3e3] py-2 px-4 rounded-md overflow-hidden mt-4 lg:mt-6 min-h-auto lg:min-h-45 text-[16px]">
                        <p class="m-0 flex items-center gap-1.5 justify-center font-semibold">
                            <span>Why it failed</span>
                            <span><img class="max-w-6 w-full block" loading="lazy"
                                    src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Vector_6.png?v=1760696853"></span>
                        </p>
                        <p class="mt-3 font-bold leading-[1.3em]">Your diet only addressed what goes IN. It didn't fix
                            your body's broken ability to drain what's already there.</p>
                    </div>
                </div>
            </div>
            <div class="w-full rounded-md overflow-hidden">
                <div>
                    <img src="//trysculptique.com/cdn/shop/files/X2.jpg?v=1760943359">
                </div>
                <div class="bg-[#f7f7f7] p-4 lg:p-6 text-center">
                    <h4 class="text-[20px] font-[Trirong,serif] font-normal">You tried viral lymphatic drops from
                        TikTok.</h4>
                    <div class="bg-[#ffe3e3] py-2 px-4 rounded-md overflow-hidden mt-4 lg:mt-6 min-h-auto lg:min-h-45 text-[16px]">
                        <p class="m-0 flex items-center gap-1.5 justify-center font-semibold">
                            <span>Why it failed</span>
                            <span><img class="max-w-6 w-full block" loading="lazy"
                                    src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Vector_6.png?v=1760696853"></span>
                        </p>
                        <p class="mt-3 font-bold leading-[1.3em]">They’re just pricey water with trace herbs. The
                            “active ingredients” are destroyed by stomach acid, and even if absorbed, only act as a mild
                            diuretic. No vessel repair, no protein breakdown—just expensive urine.</p>
                    </div>
                </div>
            </div>
            <div class="w-full rounded-md overflow-hidden">
                <div>
                    <img src="//trysculptique.com/cdn/shop/files/X3.jpg?v=1760943359">
                </div>
                <div class="bg-[#f7f7f7] p-4 lg:p-6 text-center">
                    <h4 class="text-[20px] font-[Trirong,serif] font-normal">You got lymphatic massage or bought
                        compression socks.</h4>
                    <div class="bg-[#ffe3e3] py-2 px-4 rounded-md overflow-hidden mt-4 lg:mt-6 min-h-auto lg:min-h-45 text-[16px]">
                        <p class="m-0 flex items-center gap-1.5 justify-center font-semibold">
                            <span>Why it failed</span>
                            <span><img class="max-w-6 w-full block" loading="lazy"
                                    src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/Vector_6.png?v=1760696853"></span>
                        </p>
                        <p class="mt-3 font-bold leading-[1.3em]">Temporary manual movement. Within 24-48 hours,
                            everything backed up again because your vessels still can't pump on their own.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full max-w-230 m-auto">
            <img class="desktop w-full lg:block" loading="lazy"
                src="//trysculptique.com/cdn/shop/files/Group_7207_1.png?v=1760694176">
            <img class="mobile w-full block min-[678px]:hidden" loading="lazy"
                src="//trysculptique.com/cdn/shop/files/Frame_1000003583_1.png?v=1760694176">
        </div>
        <div class="mt-6 text-center">
            <div
                class="hover:opacity-[.7] inline-block py-3.25 px-20 cursor-pointer text-white bg-black rounded-sm text-[18px] transition duration-200 text-center font-bold font-[nunito]">
                Try Lymphatic Drainage Risk-Free
            </div>
            <p class="flex items-center justify-center gap-4 text-[16px] mt-4 text-black">
                <span>
                    <img class="w-6" src="https://cdn.shopify.com/s/files/1/0917/5649/5191/files/60-days_11622780_1_1.png?v=1752388395">
                </span>
                <span class="font-bold">
                    60 day money-back guarantee
                </span>
            </p>
        </div>
    </div>
</div>